.left {
    text-align: left;
}

.right {
    text-align: right;
}

body {
    font-size: 80%;
    -webkit-print-color-adjust: exact;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}



.profile-image {
    width: 15rem;
    height: 15rem;
}

.resume-page {
    margin-top: 10rem;
    margin-bottom: 10rem;
}